 .footer {
     min-height: 200px;
     background-color: #0073BD;
     color: white;
     .container {
         padding-top: 50px;
     }
     hr {
         border: 1px solid white;
     }
 }
 
 @media only screen and (max-width: 768px) {
     p {
         padding-bottom: 50px;
         margin-bottom: 0px;
     }
     .footer {
         margin-bottom: 0px;
     }
 }