.dashboard {
    min-height: 60vh;
    .container {
        h4 {
            font-family: 'Josefin Sans', sans-serif;
        }
        form {
            padding-bottom: 30px;
            button {
                margin-left: 20px;
                border-radius: 0px;
                font-size: 13px;
                outline: none !important;
                box-shadow: none !important;
            }
            .date-block {
                display: flex;
                align-items: center;
            }
            .date-block__list {
                margin-right: 15px;
            }
        }
        .mat-elevation-z8 {
            margin-top: 20px;
            margin-bottom: 50px;
            mat-form-field {
                margin-left: 20px;
                margin-top: 10px;
            }
            table {
                width: 100%;
            }
        }
    }
}