.details {
    min-height: 80vh;
    .d-flex {
        height: 60vh;
    }
    h3 {
        font-family: 'Montserrat', sans-serif;
    }
    hr {
        border: 1px solid black;
    }
    .row {
        margin-top: 50px;
        .col-md-4 {
            font-family: 'Lato', sans-serif;
        }
        .img {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
        }
    }
}