 .login {
     height: 100vh;
     display: flex;
     align-items: center;
     justify-content: center;
     background-color: #eff3f4;
     .card {
         display: flex;
         align-items: center;
         justify-content: center;
         min-height: 23rem;
         input[type="text"],
         input[type="number"],
         input[type="email"],
         input[type="password"] {
             outline: none;
             box-shadow: none !important;
         }
         img {
             height: 150px;
             display: block;
             margin-left: auto;
             margin-right: auto;
         }
         form {
             margin-top: 10px;
             .form-row {
                 display: flex;
                 align-items: center;
                 justify-content: center;
                 label {
                     font-size: 13px;
                     margin-bottom: 0px;
                     span {
                         color: red;
                     }
                 }
             }
             input {
                 padding: 0;
                 width: 20em;
                 border-top: none;
                 border-right: none;
                 border-left: none;
                 font-size: 13px;
                 border-radius: 0px;
             }
             .invalid-feedback {
                 font-size: 11px;
             }
             button {
                 border-radius: 0px;
                 font-size: 13px;
                 width: 20em;
                 margin-bottom: 30px;
                 outline: none !important;
                 box-shadow: none !important;
             }
             p {
                 margin-bottom: 40px;
                 font-size: 10px;
             }
             p:hover {
                 cursor: pointer;
                 text-decoration: underline;
             }
         }
     }
 }